@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}
body {
  background: #ebf4ff;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100vw;
  height: 45px;
  background: linear-gradient(90deg,rgba(6, 6, 48, 1) 0%, rgba(2, 31, 36, 1) 100%);
  align-items: center;
  
}
nav #pfp {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #00a0fb;
  color: #eaf7ff;
  display: grid;
  place-items: center;
  margin-left: 35px;
  margin-right: 5px;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
}
nav #name {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 2rem;
}
.heading, .subheading, .sheading {
  font-family: "Outfit";
}
.heading {
  color: rgb(36,62,94);
}
.subheading {
  color: rgb(51,92,143);
  font-size: 1rem;
}
.sheading {
  font-size: 1.2rem;
  color: rgb(40,71,111);
}


.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
}
.card {
  background: #fff;
  box-shadow: 0 0 20px rgb(17,124,255,0.1);
  border-radius: 16px;
  padding: 35px;
  margin: 12px 0;
}
.card img {
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.card p {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 20px;
  color: rgb(13,40,86);
  color: rgba(11,60,85,0.9);
}
strong {
  color: rgb(5,106,224);
  font-weight: 500;
  /*text-decoration: underline;*/
}
.bb {
  border-bottom: 3px solid rgb(51,92,143,0.7);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex .card {
  padding: 20px;
  font-size: 1.5rem;
}
.flex .card:nth-child(1) {
  background: rgb(0,118,255);
  background: rgb(237,247,255);
  border-color: rgb(0,75,134);
}
.flex .card:nth-child(2) {
  background: rgb(250,147,222);
  background: rgb(255,231,247);
  border-color: rgb(162,0,106);
}
.flex .card:nth-child(3) {
  background: rgb(147,250,188);
  background: rgb(228,255,246);
  border-color: rgb(0,113,61);
}
.flex .card:nth-child(4) {
  background: rgb(0,84,84);
  background: rgb(246,237,255);
}
.flex .card:nth-child(1) div {
  color: rgb(229,241,255);
  color: rgb(0,134,255);
  color: rgb(0,85,225);
}
.flex .card:nth-child(2) div {
  color: rgb(239,0,157);
  
}
.flex .card:nth-child(3) div {
  color: rgb(46,255,186);
  color: rgb(0,160,107);
}
.flex .card:nth-child(4) div {
  color: rgb(17,253,255);
  color: rgb(113,0,226);
  border-color: rgb(70,0,140);
}

table {
  font-weight: normal;
  font-size: 1rem;
  border-collapse: collapse;
  min-width: 50%;
  border-radius: 10px;
  border: 1px solid rgba(12,41,77,0.1);
  margin-top: 10px;
}
table td {
  border-bottom: 1px solid rgba(12,41,77,0.1);
  padding: 10px;
  text-align: right;
}
table th {
  padding: 10px;
  font-size: 1rem;
}
table td:nth-child(1),
table th:nth-child(1)
{
  background: rgb(223,236,252);
  background: rgb(244,245,255);
  background: rgb(231,246,255);
  color: rgb(36,62,94);
  font-weight: bold;
  text-align: left;
}
table tr:nth-of-type(even) {
  background: rgb(244,251,255);
}
table.reverseHeading th
{
  background: rgb(231,246,255);
  color: rgb(36,62,94);
  text-align: right;
}
table.reverseHeading th:nth-child(1) {
  text-align: left;
}
table.reverseHeading td:nth-child(1) {
  background: none;
  font-weight: normal;
}

.cont {
  margin: 0 20px;
  border: 1px solid rgba(12,41,77,0.1);
  border-radius: 10px;
  padding: 20px;
}
